
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href='../../../static/styles/styles.css'>
</head>
<body>
    <h1>Produtos:</h1>

    <div class="produtos">
        {% for produto in produtos %}
            <div class="produto">
                <h2>{{ produto.nome }}</h2>
                <p>Descrição: {{ produto.descricao }}</p>
                <p>Preço: R$ {{ produto.preco }}</p>
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="produto-imagem">
            </div>
        {% endfor %}
    </div>
</body>
</html>
